body {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    width: 800px;
}

@media print {
    pre {
        width: 100% !important;
    }
}